---
name: blog_post
async_callback_actions:
  delay:
  content:
resource: Customization
return_to: /blog/admin
configuration:
  properties:
    title:
      validation:
        presence: true
    content:
      validation:
        presence: true
    slug:
      validation:
        presence: true
    excerpt:
      validation:
        presence: true
    published_at:
      validation:
        presence: false
    tags:
      validation:
        presence: false
    blog_instance_id:
      validation:
        presence: true
    author_name:
      validation:
        presence: true
    author_biography:
      validation:
        presence: false
  custom_images:
    hero_image:
      image:
        validation: {
          file_content_type: { allow: ['image/jpeg', 'image/png', 'image/gif'] }
        }
    author_avatar:
      image:
        validation: {
          file_content_type: { allow: ['image/jpeg', 'image/png', 'image/gif'] }
        }
default_payload: |-
  {% if form %}
    {%- query_graph 'get_blog_instance', result_name: bi, scope: 'blog' -%}
    {%- assign blog_instance = bi.customizations.results.first -%}
    {
      "properties_attributes": {
        "blog_instance_id": "{{ blog_instance.id }}",
        "slug": "{{ params.properties_attributes.title | default: '' | slugify }}"
      }
    }
  {% endif %}
---
{%- if form.id -%}
  {% assign url = '/api/user/customizations/' | append: form.id %}
  {% assign method = 'PUT' %}
{%- else -%}
  {% assign url = '/api/user/customizations' %}
  {% assign method = 'POST' %}
{%- endif -%}

{% form_for form, url: @url, multipart: true, as: customization, method: @method, html-class: 'pt-5 with-borders' %}
  <input value="{{ form.custom_model_type_id }}" type="hidden" name="custom_model_type_id" />
  <div class="col-md-9 mb-3">
    {% fields_for properties %}
      <div class="row">
        <div class="col">
          {% include 'blog/inputs/text', field_name: 'title', form_name: 'properties' %}
        </div>
      </div>
      <div class="row">
        <div class="col col-3">
          {%- assign date_format_short_label = 'mm/dd/yyyy' -%}
          {%- capture date_hint -%}Format: {{ date_format_short_label }}{%- endcapture -%}
          {% include 'blog/inputs/date',
            field_name: 'published_at',
            form_name: 'properties',
            form_object: form_object_properties,
            label: 'Publish At',
            hint: date_hint,
            placeholder: date_format_short_label,
            mask: 'date'
          %}
        </div>

        <div class="col"  style="padding-top:36px">
          <span class="switch switch">
            {% assign published_at = form.properties.published_at | date: '%s' %}
            {% assign now_in_miliseconds = 'now' | date: '%s' %}
            <input type="checkbox" class="switch" id="switch-normal" {% if now_in_miliseconds > published_at %}checked='checked'{% endif %} name="customization[properties_attributes][published_at]" id="customization_properties_attributes_published_at" value="{{ 'now' | date: '%d/%m/%Y' }}">
            <label for="switch-normal">Publish Now</label>
          </span>
        </div>
      </div>

      <div class="row">
        {% input_field 'content', field_name: 'content', form: 'properties', as: 'text',  data-wysiwyg: 'content' %}
      </div>

      {% include 'blog/inputs/text', field_name: 'excerpt', form_name: 'properties', as_type: 'text', rows: "5" %}
      {% assign tags = form.properties.tags | join: ', ' %}
      {% include 'blog/inputs/text', field_name: 'tags', html-value: @tags, form_name: 'properties', placeholder: "Tags separated with comma" %}
    {% endfields_for %}

    {% fields_for custom_images, form: expert %}
      {% fields_for hero_image, form: custom_images %}
        <div class="row">
          {% input image, as: image, form: hero_image %}
        </div>
      {% endfields_for %}
    {% endfields_for %}

    {% fields_for properties %}
      {% include 'blog/inputs/text', field_name: 'author_name', form_name: 'properties' %}
      {% include 'blog/inputs/text', field_name: 'author_biography', form_name: 'properties' %}
    {% endfields_for %}

    {% fields_for custom_images, form: expert %}
      {% fields_for author_avatar, form: custom_images %}
        <div class="row">
          {% input image, as: image, form: author_avatar %}
        </div>
      {% endfields_for %}
    {% endfields_for %}

    <div class="row mt-4">
      {% submit 'Submit', class: 'btn btn-primary btn-lg', data-disable-with: 'saving...' %}
    </div>
  </div>
{% endform_for %}
