---
slug: '<%= blog_scope %>/post'
format: html
layout_name: '<%= layout_name %>'
---

{%- capture url_template -%}
{% if params.language %}/{lang}{%- endif -%}/<%= blog_scope %>/post/{blog_slug}/{post_slug}
{%- endcapture -%}
{% assign url_params = current_full_path | extract_url_params: url_template %}

{%- query_graph 'get_blog_instance', result_name: bi, scope: '<%= blog_scope %>', slug: url_params.blog_slug, enabled: 'true' -%}
{% assign blog_instance = bi.customizations.results.first %}

{% if url_params.blog_slug != blank and url_params.post_slug != blank and blog_instance %}
  {% assign today = 'now' | date: '%F' %}
  {%- query_graph 'get_blog_posts', result_name: g, published_at_lte: today, blog_instance_id: blog_instance.id, slug: url_params.post_slug, tags: params.tags -%}
  {% assign blog_post = g.customizations.results.first %}
  {%- if blog_post -%}

    {% content_for title %}
      {{ blog_post.title }}
    {% endcontent_for %}

    <img src="{{ blog_post.hero_image.transformed }}" />

    <div class='blog-post-detail'>
      <h1>{{ blog_post.title }}</h1>

      {% include 'blog/social_buttons' %}

      <div class='content'>
        {%- if blog_post.tags -%}
          <p> Tagged as: {{ blog_post.tags | join: ', ' }}.</p>
        {%- endif -%}

        {{ blog_post.content }}
      </div>

      <div class='info row'>
        <div class='date col-sm-5'>
          Published {{ blog_post.published_at | localize: 'long' }}
        </div>
        <div class='social col-sm-7 clearfix'>
          {% include 'blog/social_buttons' %}
        </div>
      </div>

      <div class='author row'>
        {%- if blog_post.author_avatar.thumb -%}
          <div>
            <img src="{{ blog_post.author_avatar.thumb }}" />
          </div>
        {%- endif -%}
        <div>
          <h3>{{ blog_post.author_name }}</h3>
          <p>{{ blog_post.author_biography }}</p>
        </div>
      </div>

      <div class='container-fluid'>
        <div class='links row'>
          {%- query_graph 'get_blog_posts', result_name: next_post_query, published_at_gt: blog_post.published_at, published_at_lte: today, blog_instance_id: blog_post.blog_instance_id -%}
          {% assign next_post = next_post_query.customizations.results.last %}

          {%- if next_post -%}
            <div class='col-xs-6'>
              <a class='previous-blog-post' href='/<%= blog_scope %>/post/{{ blog_instance.slug }}/{{ next_post.slug }}'>
                NEXT STORY
              </a>
            </div>
          {% endif%}

          {%- query_graph 'get_blog_posts', result_name: prev_post_query, published_at_lt: blog_post.published_at, blog_instance_id: blog_post.blog_instance_id %}
          {% assign previous_post = prev_post_query.customizations.results.first %}

          {% if previous_post %}
            <div class='col-xs-6'>
              <a class='next-blog-post' href='/<%= blog_scope %>/post/{{ blog_instance.slug }}/{{ previous_post.slug }}'>
                PREVIOUS STORY
              </a>
            </div>
          {% endif%}
        </div>
      </div>
      <div class='fb-comments' data-numposts="5" data-colorscheme="light" data-href='{{ blog_post.post_url }}'></div>
    </div>
    {%- else -%}
      Blog Post not found.
    {%- endif -%}
{%- else -%}
  Blog in not enabled
{%- endif -%}
